body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2, h3 {
    color: #333;
}

.form-section, .list-section {
    margin-top: 30px;
}

input, select, button {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.periode-block {
    margin: 20px 0;
    padding: 15px;
    background-color: #eef1f5;
    border-left: 5px solid #0066cc;
    border-radius: 5px;
}


.btn-delete {
    color: red;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn-delete:hover {
    text-decoration: underline;
}

.btn-retour {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 999; /* Pour rester au-dessus des autres éléments */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-retour:hover {
    background-color: #0056b3;
}
