* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Ajoutez un diaporama pour le fond du body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    background-size: cover;
    background-position: center;
    animation: slideshow 15s infinite; /* Définir une animation qui dure 15 secondes et qui se répète */
}

/* Définir l'animation du slideshow */
@keyframes slideshow {
    0% {
        background-image: url('images/im1.jpg'); /* Remplacez par votre première image */
    }
    33% {
        background-image: url('images/im2.jpg'); /* Remplacez par votre deuxième image */
    }
    66% {
        background-image: url('images/im3.jpg'); /* Remplacez par votre troisième image */
    }
    100% {
        background-image: url('images/logo.PNG'); /* Retour à la première image pour une boucle continue */
    }
}

.container {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section {
    flex: 1;
    background: #5A90F2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.company-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.login-section {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #5A90F2;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5A90F2;
    border-radius: 5px;
    text-align: left;
}


.forgot-password {
    font-size: 0.9em;
    color: blue;
    cursor: pointer;
}

.login-btn {
    background: #5A90F2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    font-size: 1em;
    font-weight: bold;
}


.login-btn:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .welcome-section {
        padding: 20px;
    }
}