* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    background-size: cover;
    background-position: center;
    animation: slideshow 15s infinite;
}

@keyframes slideshow {
    0% { background-image: url('images/im1.jpg'); }
    33% { background-image: url('images/im2.jpg'); }
    66% { background-image: url('images/im3.jpg'); }
    100% { background-image: url('images/logo.PNG'); }
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.back-link {
    position: absolute;
    top: 20px;  /* Ajuste la position verticale */
    left: 20px; /* Ajuste la position horizontale */
    font-size: 1em;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #5A90F2;
}

.back-link i {
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}

.welcome-section {
    color: white;
    background: #5A90F2;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.company-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.reset-section {
    padding: 20px;
}

.input-group {
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #5A90F2;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5A90F2;
    border-radius: 5px;
    text-align: left;
}

.reset-btn {
    background: #5A90F2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s;
}

.reset-btn:hover {
    background: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .welcome-section {
        padding: 15px;
    }
}
